# Undersampling

Imblearn is the library used for handling the imbalanced dataset which contains methods to handle upsampling,downsampling,etc.,

## 範例資料 Credit Card Fraud Detection

https://www.kaggle.com/datasets/mlg-ulb/creditcardfraud

In [16]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import matplotlib.pyplot as plt
import seaborn as sns

In [17]:
from sklearn.metrics import classification_report,confusion_matrix
from sklearn.ensemble import IsolationForest
from sklearn.neighbors import LocalOutlierFactor
from sklearn.svm import OneClassSVM
from pylab import rcParams
rcParams['figure.figsize'] = 14, 8
RANDOM_SEED = 42
LABELS = ["Normal", "Fraud"]

In [18]:
df=pd.read_csv("./creditcard.csv")

In [19]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 284807 entries, 0 to 284806
Data columns (total 31 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   Time    284807 non-null  float64
 1   V1      284807 non-null  float64
 2   V2      284807 non-null  float64
 3   V3      284807 non-null  float64
 4   V4      284807 non-null  float64
 5   V5      284807 non-null  float64
 6   V6      284807 non-null  float64
 7   V7      284807 non-null  float64
 8   V8      284807 non-null  float64
 9   V9      284807 non-null  float64
 10  V10     284807 non-null  float64
 11  V11     284807 non-null  float64
 12  V12     284807 non-null  float64
 13  V13     284807 non-null  float64
 14  V14     284807 non-null  float64
 15  V15     284807 non-null  float64
 16  V16     284807 non-null  float64
 17  V17     284807 non-null  float64
 18  V18     284807 non-null  float64
 19  V19     284807 non-null  float64
 20  V20     284807 non-null  float64
 21  V21     284807 non-null  float64
 22  V22     284807 non-null  float64
 23  V23     284807 non-null  float64
 24  V24     284807 non-null  float64
 25  V25     284807 non-null  float64
 26  V26     284807 non-null  float64
 27  V27     284807 non-null  float64
 28  V28     284807 non-null  float64
 29  Amount  284807 non-null  float64
 30  Class   284807 non-null  int64
dtypes: float64(30), int64(1)
memory usage: 67.4 MB

In [20]:
df.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,0.0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62,0
1,0.0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69,0
2,1.0,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.66,0
3,1.0,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,123.50,0
4,2.0,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,...,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,69.99,0

## Create Independent and dependent features

In [21]:
x=df.drop('Class',axis=1)
y=df['Class']

## Check imbalance data ratio b/w fraud and normal class

In [22]:
normal=df[df['Class']==0]
fraud=df[df['Class']==1]

print('No of fraud records of data: {}'.format(fraud.shape[0]))
print('No of normal records of data: {}'.format(normal.shape[0]))

print("imbalance ratio: {} %".format(np.round((fraud.shape[0]*100/normal.shape[0]), 2)))

No of fraud records of data: 492
No of normal records of data: 284315
imbalance ratio: 0.17 %

## 欠採樣方法 : Edited Nearest Neighbor (ENN)

In [23]:
from imblearn.under_sampling import NearMiss

nm=NearMiss()
xsam,ysam=nm.fit_resample(x,y)

x_fraud = xsam[ysam==1]
x_normal = xsam[ysam==0]

y_fraud=ysam[ysam==1]
y_normal=ysam[ysam==0]

print('No of fraud records of data: {}'.format(x_fraud.shape[0]))
print('No of normal records of data: {}'.format(x_normal.shape[0]))

No of fraud records of data: 492
No of normal records of data: 492

Now we can able to see that the fraud and normal no of records are balanced

In [24]:
from collections import Counter

print('Shape of original dataset {}'.format(Counter(y)))
print('Shape of resampled dataset {}'.format(Counter(ysam)))

Shape of original dataset Counter({0: 284315, 1: 492})
Shape of resampled dataset Counter({0: 492, 1: 492})